@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Satisfy&display=swap');

body {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:brown;
}