{% extends 'master.html' %}

{% block title %}
    <title>Services</title>
 {% endblock title %}

 {% block content %}
     <h2 class="text-center text-danger">We Serveee!</h2>
     {% for s in services %}
         <p>{{ s }}</p>
         {% endfor %}
     

      <h3>Ksh {{ price }}</h3>
      <h3>On Date {{ date }}</h3>
     {% if price > 5000 %}
      <p>Our best prices in town</p>
     {% endif %}
     
     {% if price < 3000 %}
      <p>Our prices in December</p>
     {% else %}
     <p>No more offers</p>
     {% endif %}
     
     <p>This is the best choice you've made. You will never regret it. </p>
 {% endblock content %}